.hero-section {
  background: linear-gradient(135deg, #111, #333);
  color: white;
}

section {
  scroll-margin-top: 80px;
}

.hero-section {
  position: relative;
  height: calc(100vh - 68px); /* resta la altura del navbar */
  padding-top: 68px;         /* empuja el contenido hacia abajo */
  background:
    radial-gradient(circle at top, #1a1a1a, #000),
    url("/noise.png");
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}



.hero-logo {
  max-width: 270px;
  padding: 20px;
  background: rgba(255,255,255,0.03);
  border-radius: 50px;
}



#servicios {
  scroll-margin-top: 80px;
}

#ubicacion {
  scroll-margin-top: 80px;
}

.hero-section .btn {
  border-radius: 999px;
  padding: 14px 36px;
  transition: all 0.3s ease;
}

.hero-section .btn:hover {
  background: #e6c77b;
  color: rgb(0, 0, 0);
  transform: translateY(-2px);
}


.hero-scroll {
  position: absolute;
  bottom: 20px;
  opacity: 0.4;
}

.hero-title {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
}
