.admin-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 24px;
}

.admin-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px 20px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 6px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.admin-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
}

/* texto */
.admin-card h3 {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #555;
  margin: 0;
}

.admin-card p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #111;
  margin: 0;
}
